.home{
    padding: 20px;
    margin: 20px;
    background-color: #d3d3d39f !important;
    box-shadow: 0px 2px 5px #ccc;
    border-radius: 10px;
}
.todolist{
    background-color: rgb(184, 184, 184);
    margin: 10px;
    padding: 10px;
    color: white;
}
.addtodo{
    background-color: rgb(92, 92, 92);;
    margin: 10px;
    padding: 10px;
    color: white;
    
}
.todoitem{
    background-color: rgb(92, 92, 92);
    padding: 10px;
    margin: 10px;
}