.home{
    padding: 20px;
    margin: 20px;
    background-color: #ddf1ff9f !important;
    box-shadow: 0px 2px 5px #ccc;
    border-radius: 10px;
    width: 40rem;
}
.todolist{
    background-color: rgba(247, 250, 255, 0.288);
    margin: 10px;
    padding: 10px;
    color: black;
}
.addtodo{
    background-color: rgba(202, 196, 255, 0.192);;
    margin: 10px;
    padding: 10px;
    color: black;
    
    
}
.todoitem{
    background-color: rgb(224, 231, 255);
    padding: 10px;
    margin: 15px;
}
.removebtn{
    background-color: #DF2E2E !important;
    float: right;
}